body {
  background-color: black;
}
.branco {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 10px;
}
.video {
  display: flex;
  justify-content: center;
}
a {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}
